{% extends 'base.html' %} 

{% block head %} 
    <title>New post</title>
{% endblock head %}

{% block body %} 
<h1>All Posts</h1>

    <hr>
    <h2>Create a New Blog Post</h2>
    <form action="/posts" method="POST">
        <label for="title">Title:</label>:
        <input
            class="form-control"
            type="text"
            name="title" 
            id="title"
            placeholder="Enter title"
            aria-label="Enter title"
          />
        <br>
        <label for="author">Author:</label>
        <input
            class="form-control"
            type="text"
            name="author" 
            id="author"
            placeholder="Name of author"
            aria-label="Name of author"
          />
        <br>
        <label for="content">content:</label>
        <textarea class="form-control" id="content" placeholder="Enter content" name="content" aria-label="Enter content" rows="3"></textarea>
        <br>
        <input type="submit" value="Post">
    </form>
    <hr>

{% endblock body %}